.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.contact-details {
    max-width: 75vw;
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Optional: white shadow for subtle glow */
    background-color: rgba(255, 255, 255, 0.05); /* Optional: semi-transparent background for contrast */
    border: 2px solid white;
    background-color: gray;
  }
  
  
.contact-details a{
    color: white;
}

/* Default (mobile first, 320px+) */ 
/* >= Small tablets / large phones */ 
@media (min-width: 480px) { 
    /* Adjust font sizes, padding, 2-column options */ 
    .contact-container{
        justify-content: space-between;
        align-items: center;
    }
    .contact-details {
        max-width: 50vw;
        padding: 20px;
    }

}

/* >= Tablets (portrait) */ 
  @media (min-width: 600px) { 
  /* Wider buttons, larger grids */ 
  }

  @media (min-width: 768px) { 
  /* Tablet layout, sidebar perhaps */ 
  }

