/* General header styling */
header {
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    z-index: 200;
    background-color: #111;

  }

.logout-button, .admin-button {background-color: transparent;}
  
  /* Logo styles */
  .logo {
    line-height: 1;
  }

  
  .logo a, .logo h1{
    display: block;
    font-size: 2em;       
    margin: 0.67em 0;     
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: color 0.3s ease; /* Smooth transition */
    z-index: 2;
  }

  .logo a:hover {
    color: #FFD700; /* highlight color */
  }

  
  .cpr {
    font-size: 2rem;
    font-weight: bold;
    display: block;
  }
  
  .construction {
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
  }
  
  /* Hamburger menu */
  .hamburger {
    width: 3rem;
    height: 3rem;
    display: flex;
    font-size: 2rem;       /* makes it bigger */
    padding: 12px 16px 12px 0;    /* gives enough space for fingers */
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 25px;
    z-index: 1;
    transition: background-color .3s ease; /* Smooth transition */
  }
  
  .hamburger:hover,
    .hamburger:focus {
      color: white; /* Color stays same on hover */
    background-color: transparent; /* Prevent background change on hover */
  }

  .hamburger:active {
    background-color: transparent; /* Prevent background change on click */
    outline: none;
  }
  
  /* Nav styles - mobile first */
  nav.nav {
    display: none;
    flex-direction: column;
    background-color: #222;
    /* padding: 10px 0; */
  }
  
  nav.open {
    display: flex;
  }
  
  nav a,
  .admin-button,
  .logout-button {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    height: 3rem;
    width: 85%;
    border: none;
    background: none;
    line-height: 2.4;
    border: 1px solid gray;
  }

  nav a {
    width: 100%;
  }
  
  nav a:hover,
  .admin-button:hover,
  .logout-button:hover {
    color: yellow;
  }
  
  nav a.active {
    color: yellow;
    font-weight: bold;
    background-color: gray;
  }
 
  
  /* Admin and logout buttons */
  .admin-button,
  .logout-button {
    cursor: pointer;
    width: 100%;
    line-height: 1;
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    nav.nav {
      position: fixed;
      top: 90px;
      left: -250px; /* hide it off screen */
      width: 125px;
      height: 100%;
      background-color: #222;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      transition: left 0.3s ease;
      z-index: 998;
    }

    nav.nav.open {
      left: 0; /* slide in */
      /* padding-top: .625rem; */
    }

    nav a, .admin-button, .logout-button {
      /* width: 86%; */
      text-align: center;
      font-size: 1.1rem;
      /* padding-left: 15px; */
      padding: .5rem;
      border-radius: 0%;
    }
    nav a {
    width: 86%;
    padding: 0;
    padding-right: 1rem;
   }
   .admin-button, .logout-button {
      width: 100%;
   }
}


/* Larger screen styles */
@media (min-width: 1025px) {
    header{ 
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
     }

  .hamburger {
    display: none;
  }

  nav.nav,
  nav.open {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  nav a,
  .admin-button,
  .logout-button {
    font-size: 1rem;
    padding: 0 15px;
    margin: 0;
    border: none;
    width: 6rem;
  }

  nav a.active{
    background-color: transparent;
  }

  .admin-button {
    position: absolute;
    left: 30px;
    top: 20px;
    width: auto;
  }

  .logout-button {
    position: absolute;
    right: 30px;
    top: 20px;
    width: auto;
  }
}
  