.login-container {
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    align-self: center;
    height: 100vh; /* Full height */
    align-items:flex-start; 
    /* padding-right: 50px;  */
    margin-top: 70px;
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns inputs to the left */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .login-box p{
    font-weight: bold;
    text-align: center;
    color: white;
    width: 100%;
  }
  
  .login-box h2 {
    margin-bottom: 15px;
  }
  
  .login-box input {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    outline: none; /* Remove outline */
  }

  .login-box input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* White placeholder text with slight transparency */
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 123, 255, 0.3); /* 30% transparent blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-box button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }

  .cancel-button-wrapper {
    text-align: center;
    margin-top: 1rem;
    margin-left: 20px;
    position: relative;
    top: -250px;
    width: 250px;
  }
  
  