/* Default (mobile first, 320px+) */ 
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 5.5rem;
}

.contact-details {
    max-width: 75vw;
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Optional: white shadow for subtle glow */
    background-color: rgba(255, 255, 255, 0.05); /* Optional: semi-transparent background for contrast */
    border: 2px solid white;
    background-color: gray;
  }

.contact-details p{ text-align: center; }

 

.contact-container h1{
    font-size: 1.2rem;
    padding: 1.25rem; /* Adjust padding for larger screens */
    margin: 0;
}
  
  
.contact-details a{
    color: white;
    margin: 0;
}

.contact-details a:hover{
    color: yellow;
    font-weight: bold;
}

@media(min-width: 335px){
    .contact-container{
        margin-top: 5.5rem;
    }
}


/* >= Small tablets / large phones */ 
@media (min-width: 480px) { 
    .contact-container h1 {
        font-size: 1.35rem; /* Adjust font size for larger screens */
        padding-top: 1.25rem;
        margin-top: 1rem;
        max-width: 100%; /* Allow full width on larger screens */
    }
}

/* >= Tablets (portrait) */ 
  @media (min-width: 600px) { 
    /* Wider buttons, larger grids */
    .contact-container h1 {
        font-size: 1.4rem; /* Adjust font size for larger screens */
        /* padding-top: 1.5rem; */
    }
    .contact-details {
        width: 300px; /* Adjust card width for larger screens */
        margin-top: 1rem;
    }   
  }

  @media (min-width: 768px) { 
  /* Tablet layout, sidebar perhaps */ 
    .contact-details {
        width: 400px; /* Adjust card width for larger screens */
        padding: 1rem;
    }
  }

@media(min-width: 1025px){
    .contact-container{
        margin-top: 0;
        padding-top: 130px;
    }
 }