.portfolio-page {
    padding: 2rem;
    text-align: center;
    color: white;
    margin-top: 3.5rem;;
}

.portfolio-page h1 {
    font-size: 1.2rem;
    padding: 15px; /* Adjust padding for larger screens */
    margin: 0;
}

.portfolio-dropdown {
    margin: 1rem auto;
    text-align: center;
    position: relative; /* Needed for positioning the custom arrow */
    width: fit-content; /* shrink wrap the select */
}
.portfolio-dropdown:hover{
    background-color:  rgb(78, 74, 74);
}   

.portfolio-dropdown select {
    padding: 0.6rem 2.5rem 0.6rem 1rem; /* More right padding for arrow space */
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: gray;
    color: white;
    cursor: pointer;
    appearance: none; /* remove default arrow */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */
    text-align: center;
    position: relative;
}
.portfolio-dropdown select:hover{
    background-color:  rgb(78, 74, 74);
} 

/* .portfolio-dropdown select option:hover{
    background-color:  rgb(78, 74, 74);
}  */

/* Create a custom dropdown arrow */
.portfolio-dropdown::after {
    content: "▼"; /* Down arrow symbol */
    font-size: 0.8rem;
    color: white;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Let clicks pass through */
}


.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.portfolio-item {
    width: 250px;
    min-height: 150px; /* Or whatever fits your content */
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1rem;
    background: gray;
    transition: all 0.2s ease-in-out;
  }
  

.portfolio-item img {
width: 100%;
height: 160px;
object-fit: cover;
border-radius: 8px;
display: block;
}
  

.portfolio-pagination button {
margin: 0.5rem;
padding: 0.3rem 0.8rem;
border: none;
background: rgb(109, 108, 108);
border-radius: 4px;
width: 50px;
}
.portfolio-pagination button:hover{
    background-color:  rgb(78, 74, 74);
}

.portfolio-pagination .active {
    background: #555;
    color: white;
}

 @media(min-width: 1025px){
    .portfolio-page{
        margin-top: 0;
        padding-top: 130px;
    }
 }