   .admin-dashboard-wrapper {
    position: relative;
    padding: 20px;
  }
  
  .hamburger {
    position: absolute;
    top: -70px; 
    left: 30px;
    font-size: 28px;
    cursor: pointer;
    color: white;
    z-index: 999;
  }

  .hamburger:hover{
    color: blue;
  }
  
  
  .menu-dropdown {
    position: absolute;
    top: -35px;
    left: 30px;
    background-color: white;
    border: 1px solid white;
    /* padding: 10px; */
    border-radius: 8px;
    z-index: 998;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
  }
  
  .menu-dropdown button {
    background-color: lightgray;
    color: white;
    border: none;
    border: 1px solid white;
    /* padding: 8px 10px; */
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    width: 250px;
  }
  
  .menu-dropdown button:hover {
    background-color: darkgray;
  }
  
  #greeting {
    color: white;
    margin-top: 60px;
  }
  