   .admin-dashboard-container {
    position: relative;
    /* padding: 20px; */
    background-color: #4747b7;
    height: 100vh;
    width: 100vw;
  }
  
  .dashboard-hamburger {
    position: fixed;
    top: 6rem; 
    left: 1.7rem;
    font-size: 1.75rem;;
    cursor: pointer;
    color: white;
    z-index: 100;
    height: 3rem;
    width: 3rem;
  }

  .dashboard-hamburger:hover{
    color: yellow;
  }
  
  
  .dashboard-menu-dropdown {
    position: fixed;
    top: 5.65rem;
    width: 100vw;
    border: 1px solid white;
    z-index: 998;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-menu-dropdown button {
    border-radius: 0;
    background-color: gray;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
    width: 100vw;
  }
  
  .menu-dropdown button:hover {
    background-color: darkgray;
  }
  
  #greeting {
    color: white;
    margin-top: 5.625rem;
    font-size: 1.3rem;
    padding: 3rem .75rem;
    margin-left: 1.25rem;  
    font-weight: 600;
  }
  
 @media(min-width: 480px){
     #greeting {
        font-size: 1.35rem; /* Adjust font size for larger screens */
        padding: 0 1.25rem; /* Adjust padding for larger screens */
        padding-top: 3rem;
    }
} 

 /* >= Tablets (portrait) */
  @media (min-width: 600px) {
    /* Wider buttons, larger grids */
    #greeting {
        font-size: 1.4rem; /* Adjust font size for larger screens */
        padding-top: 3.5rem;;
    }

    .dashboard-menu-dropdown button {
      width: 9.5rem;
    }

    .dashboard-menu-dropdown {
      width: auto;
    }

  }

  @media(min-width: 1025px){
    .admin-dashboard-container{padding: 1.25rem;}
  }